---
import ImageViewer from '~/components/widgets/ImageViewer.astro'
import RSSViewClient from '~/components/widgets/RSSView.svelte'
import { fetchFeedItemsAtBuild } from '~/utils/rss-view'

interface Props {
  feedUrl: string
  viewMoreUrl?: string
  viewMoreText?: string
  class?: string
}

const {
  feedUrl,
  viewMoreUrl = feedUrl,
  viewMoreText = 'View more',
  class: className,
} = Astro.props as Props

if (!feedUrl) throw new Error('RSSView requires `feedUrl`.')

const initialItems = await fetchFeedItemsAtBuild(feedUrl)
---

<div class:list={['rss-view-host', className]}>
  <RSSViewClient
    client:load
    {feedUrl}
    {viewMoreUrl}
    {viewMoreText}
    {initialItems}
  />
</div>

<ImageViewer
  selector=".rss-view-host .rss-view-list"
  options={{ title: 0, navbar: 0 }}
  asyncInsert={true}
/>
